nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(112, 79, 153);
    display: flex;
    justify-content: flex-start;
    height: 100px;
}
li { 
    float: left;
}
li a {
    display: block;
    color: white;
    padding: 60px 16px;
    text-decoration: none;
    font-size: 20px;
} 
a:hover {
    color: #51bbb2;
}
.logo {
    margin-right: 100px;
    padding: 40px 16px;
    transform: translateX(100px);
}
.content{
    display: flex;
    flex-direction: row;
    margin: 30px;
    justify-content: center;
}
.content-pic{
    display: flex;
    width: 350px;
    height: 400px;
    border-radius: 5%;
}
h1{
    display: flex;
    text-align: left;
}
p{
    display: flex;
}
.content-detail{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: 50px;
}
.content-reverse{
    display: flex;
    flex-direction: row-reverse;
    margin: 30px;
    justify-content: center;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.card{
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    align-items: center;
}
.card-pic{
    display: flex;
    width: 130px;
}
h2{
    display: flex;
    text-align: center;
}
.card-detail{
    display: flex;
    text-align: center;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(112, 79, 153);
}
i{
    font-size: 24px;
    margin-right: 10px;
}
.info{
    display: flex;
    flex-direction: column;
}
.follow{
    display: flex;
    flex-direction: column;       
}
.privacy{
    display: flex;
    flex-direction: column;    
}