<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="component.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <title>Document</title>
</head>
<body style="margin:0px;">
    <div class="conteiner">
        <div class="icons">
            <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
            <i class="fa-solid fa-record-vinyl" style="color: #ffffff;"></i>
            <i class="fa-solid fa-chart-column" style="color: #ffffff;" ></i>
            <i class="fa-regular fa-comments" style="color: #ffffff;"></i>
            <i class="fa-solid fa-snowflake" style="color: #ffffff;"></i>
            <i class="fa-solid fa-compass" style="color: #ffffff;"></i>
            <i class="fa-regular fa-address-book" style="color: #ffffff;"></i>
        </div>
        <div class="con">
            <h5>Search</h5>
            <div class="plus">
                <h4>FAVOURİTES</h4>
                <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
            </div>
            <h5>Pelican room</h5>
            <div class="plus">
                <h4>DİRECT MESSAGES</h4>
                <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
            </div>
            <div class="person">
                <i class="fa-solid fa-person" style="color: #ffffff;"></i>
                <h4>Jeremy Firow</h4>
            </div>
            <div class="person">
                <i class="fa-solid fa-person" style="color: #ffffff;"></i>
                <h4>Mariuz Jaders</h4>
                <i class="fa-solid fa-4" style="color: #ffffff;"></i>
            </div>
            <div class="person">
                <i class="fa-solid fa-person" style="color: #ffffff;"></i>
                <h4>Emil Anders</h4>
            </div>
            <div class="person">
                <i class="fa-solid fa-person" style="color: #ffffff;"></i>
                <h4>Marcus Gavrilov</h4>
            </div>
            <div class="plus">
                <h4>GROUPS</h4>
                <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
            </div>
            <h4># Crypto</h4>
            <h4># Futures</h4>
            <h4># Finance</h4>
            <h4># Stocktalk Germany</h4>
        </div>
        <div class="pelican-room">
            <h2># Pelican Room</h2>
            <div class="circle">
                <i class="fa-solid fa-circle" style="color: #e60000;"></i>
                <div>
                    <h4>Julian Herbst</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet obcaecati nesciunt possimus natus! Itaque, obcaecati earum voluptates porro vel aliquid fuga illo suscipit autem sit, odit fugiat modi dicta? Nemo?</p>
                </div>
            </div>
            <div class="circle">
                <i class="fa-solid fa-circle" style="color: #e60000;"></i>
                <div>
                    <h4>Marius Jaders</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aperiam ipsa doloribus!</p>
                </div>
            </div>
            <div class="circle"> 
                <i class="fa-solid fa-circle" style="color: #e60000;"></i>
                <div>
                    <h4>Kevin Kalde</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aperiam ipsa doloribus!</p>
                </div>
            </div>
            <div class="circle">
                <i class="fa-solid fa-circle" style="color: #e60000;"></i>
                <div>
                    <h4>Marius Jaders</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aperiam ipsa doloribus!</p>
                </div>
            </div>
            <div class="circle">                
                <i class="fa-solid fa-circle" style="color: #e60000;"></i>
                <div>   
                    <h4>Julian Herbst</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aperiam ipsa doloribus!</p>
                </div>
            </div>
        </div>
        <div class="g-info">
            <h2>Group İnfo</h2>
            <p>Created 2/22/2221</p>
            <div class="arrow">
                <h4>MEMBERS</h4>
                <i class="fa-solid fa-angle-down" style="color: #ffffff;"></i>
            </div>
            <div class="person">
                <i class="fa-solid fa-person" style="color: #ffffff;"></i>
                <h4>Markus Gavrilov</h4>
            </div>
            <div class="person">
                <i class="fa-solid fa-person" style="color: #ffffff;"></i>
                <h4>Mariuz Jaders</h4>
                <i class="fa-solid fa-4" style="color: #ffffff;" ></i>
            </div>
            <div class="person">
                <i class="fa-solid fa-person" style="color: #ffffff;"></i>
                <h4>Jeremy Firow</h4>
            </div>
            <div class="person">
                <i class="fa-solid fa-person" style="color: #ffffff;"></i>
                <h4>Emil Andres</h4>
            </div>
            <div class="arrow">
                <h4>SHARED FILES</h4>
                <i class="fa-solid fa-chevron-right" style="color: #ffffff;"></i>
            </div>
            <div class="arrow">
                <h4>PINNED MESSAGES</h4>
                <i class="fa-solid fa-chevron-right" style="color: #ffffff;"></i>
            </div>
            <div class="arrow">
                <h4>STARRED FILES</h4>
                <i class="fa-solid fa-chevron-right" style="color: #ffffff;"></i>
            </div>
        </div>
    </div>
</body>
</html>